__pycache__/
*.pyc
*.egg-info/
build/
dist/
.venv/

# Android
android/.gradle/
android/local.properties
android/keystore.properties
android/**/build/
*.jks
*.p12
!android/signing/waveradar-release.p12
*.keystore
android/captures/
